* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style-type: none;
}

body {
    overflow-x: hidden!important;
    background: #5e00b6!important;
    height: 100vh!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

.container {
    background: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    overflow-x: hidden;
    position: relative;
}

.container header {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.container .content {
    margin: 35px 0;
}

.content .quot-area {
    display: flex;
    justify-content: center;
}

.quot-area i {
    font-size: 15px;
}

.quot-area i:first-child {
    margin: 3px 10px 0 0;
}

.quot-area i:last-child {
    margin: 0 0 3px 10px;
    display: flex;
    align-items: flex-end;
}

.quot-area .quote {
    font-size: 22px;
    text-align: center;
    word-break: break-all;
}

.content .author {
    display: flex;
    margin: 20px 0 0 0;
    justify-content: flex-end;
    font-size: 18px;
    font-style: italic;
}

.author span:first-child {
    margin: -11px 5px 0 0;
    font-family: monospace;
}

.container .buttons {
    border-top: 1px solid #ccc;
}

.buttons .featurs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.featurs ul {
    display: flex;
}

.featurs ul li {
    margin: 0 10px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 2px solid #5e00b6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s linear;
    font-size: 20px;
    color: #5e00b6;
}

.featurs li:hover {
    background: #5e00b6;
    color: #fff;
}

.featurs button {
    padding: 8px 16px;
    border: 1px solid #5e00b6;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    font-style: 16px;
    color: #5e00b6;
    text-align: center;
    transition: 0.5s linear;
    cursor: pointer;
}

.featurs button:hover {
    background: #5e00b6;
    color: #fff;
}

.loading {
    opacity: 0.7;
    pointer-events: none;
}

.copied {
    position: absolute;
    top: 50%;
    left: -500px;
    transform: translate(-50%, -50%);
    transition: 0.5s linear;
}

.copied span {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-align: center;
    color: #fff;
    background: #5e00b6;
}

.show {
    left: 50%;
}

@media (max-width: 575px) {
    .container {
        background: #5e00b6;
    }
    .container .content {
        background: #fff;
        border-radius: 10px;
        padding: 25px 10px;
        color: #5e00b6;
    }
    .container header {
        color: #fff;
    }
    .featurs {
        justify-content: center;
    }
    .featurs button {
        background: #fff;
        border-color: #fff;
    }
    .featurs button:hover {
        background: #fff;
        color: #5e00b6;
    }
    .featurs li {
        background: #fff;
        color: #fff;
    }
    .featurs li:hover {
        background: #fff;
        color: #5e00b6;
    }
}